default:
  image: '$IMAGE_URL'
  retry:
    max: 2

stages:
  - lint
  - build
  - validate
  - deploy
  - release

lint:php:
  stage: lint
  before_script:
    - composer install
  script:
    - ./vendor/bin/parallel-lint --exclude vendor/ .

lint:php-codestyle:
  stage: lint
  before_script:
    - composer install
  script:
    - ./vendor/bin/php-cs-fixer fix -v --dry-run --using-cache=no

lint:php-stan:
  stage: lint
  before_script:
    - composer install
  script:
    - ./vendor/bin/phpstan --no-progress --memory-limit="2G" --error-format=gitlab > phpstan-report.json || (cat phpstan-report.json && exit 1)

lint:rector:
  stage: lint
  before_script:
    - composer install
  script:
    - ./vendor/bin/rector process --no-progress-bar --dry-run

lint:composer:
  stage: lint
  script:
    - composer validate --no-interaction --strict

lint:secretsscan:
  image: '$IMAGE_URL_PYTHON'
  stage: lint
  script:
    - ci/scan_secrets.sh

build:phar:
  stage: build
  before_script:
    - composer global require humbug/box
    - export PATH=/home/transip/.composer/vendor/bin:$PATH
    - composer install --no-dev --no-interaction --no-progress
    - composer require symfony/cache:^6.4
  script:
    - box compile
  artifacts:
    expire_in: 1 hour
    paths:
      - tipctl.phar

validate:tag-message:
  stage: validate
  only:
    - tags
  script:
    - ci/validate_tag_message.sh $CI_COMMIT_TAG

validate:tag-version-consistency:
  stage: validate
  only:
    - tags
  script:
    - composer dump-autoload
    - php ci/ValidateTagVersionConsistency.php $CI_COMMIT_TAG

deploy:create-github-deploy:
  stage: deploy
  only:
    - tags
  script:
    - ci/sync_to_github.sh

release:create-github-release:
  image: '$IMAGE_URL_PYTHON'
  stage: release
  only:
    - tags
  except:
    - merge_requests
  script:
    - ci/release_to_github.sh $CI_COMMIT_TAG ./tipctl.phar
